@use '../mixin.scss' as *;

@media (max-width: 767px) {
    .container_gen {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;



        .navButton {

            display: flex;
            justify-content: center;
            width: 100%;
            position: sticky;
            top: -10px;
            @include z-index($z-index: 5);
            height: 50px;

            .ancre {

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 80%;



            }


            a {

                display: block;
                flex-direction: row;
                text-decoration: none;
                @include c_black();
                @include text_italic($font-size: 1.2rem, $font-weight: 500);
                @include text_style_center();
                @include bg_goldenrod();

                &:hover {
                    @include bg_gold();
                }
            }

            .link_entree {
                width: 30%;
                height: fit-content;
                @include border_dark_grey($radius: 0 0 0 35px);

            }

            .link_plat {
                width: 30%;
                height: fit-content;
                @include border_dark_grey($radius: 0);
            }

            .link_dessert {
                width: 30%;
                height: fit-content;
                @include border_dark_grey($radius: 0 0 35px 0);
            }

            .reset_scroll {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 40px;
                background-color: transparent;
                border: none;

                img {
                    width: 100%;
                    transform: rotate(270deg);


                    &:hover {
                        transition: opacity 0.2s ease-in;
                        filter: brightness(80%)
                    }
                }
            }
        }

        .banner_carte {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 100%;
            height: 120px;
            @include bg_black();



            .banner_title {
                position: absolute;
                width: 80%;
                display: block;
                justify-self: center;
                width: fit-content;
                min-width: 200px;
                margin-top: 70px;
                padding: 40px 0;
                @include z-index($z-index: 2);
                @include text_italic($font-weight: 700, $font-size: 3rem);
                @include text_style_center();
                @include c_white();


            }





            img {
                display: block;
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                width: 100%;


            }
        }




    }



    /**********************************************************************************************/


    //bouton ajout plat ou dessert (admin)

    .admin-modification {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: 85%;
        margin-bottom: 50px;
        @include bg_none();



        h3 {
            display: block;
            justify-self: center;
            width: 80%;
            margin-top: 70px;
            padding: 40px 0;
            //@include z-index($z_index: 2);
            @include text_italic($font-weight: 400, $font-size: 1.4rem);
            @include text_style_center();
            @include c_white();
        }

        .btn_add {
            display: flex;
            justify-content: center;
            align-content: center;
            overflow: hidden;
            width: 100%;
            height: 130px;
            padding: 10px;
            border: 1px solid goldenrod;
            @include border_light_grey();
            background-color: transparent;
            //@include bg_dark_grey();


            img {
                display: block;
                justify-self: center;
                align-self: center;
                object-fit: cover;
                width: 80px;
                height: 80px;

            }
        }
    }


    // formulaire ajout de nouveau plat (administrateur)
    .container_form_add {

        display: flex;
        width: 100%;
        justify-content: center;


        .form_add {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 95%;
            margin-top: 5px;
            padding: 5px;
            height: fit-content;
            @include border_light_grey();



            .btn_close {
                position: absolute;
                right: 15px;
                top: 15px;
                justify-items: flex-end;
                width: fit-content;
                background-color: transparent;
                padding: 0;
                border: none;

                img {
                    display: block;
                    width: 30px;
                }
            }

            .titre,
            .detail,
            .photo,
            .prix {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                box-sizing: border-box;
                width: 100%;
                min-height: 100px;
                padding: 5px;
                @include c_goldenrod();
                @include text_style_center();
                @include text_normal();

                input,
                textarea {
                    display: block;
                    box-sizing: border-box;
                    width: 95%;
                    height: fit-content;
                    margin-top: 5px;
                    @include text_style_left();
                    @include text_normal($font-weight: 400);
                    border: 2px solid black;
                }
            }

            .btn_send {
                width: 30%;
                margin: 25px 0;
                @include btn_gold($border: 1px solid #FFFFFF);
                @include text_italic($font-weight: 400);
            }
        }
    }

    /**********************************************************************************************/

    //style card.jsx entrée/plat/dessert

    .container_card {
        display: flex;
        justify-self: center;
        justify-content: center;
        max-width: 100%;
        min-width: 375px;
        height: fit-content;
        margin: 50px 0;
        @include z-index($z-index: 2);



        .container_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            margin: 30px 0;
            padding: 0;


            .container_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                width: 100%;
                min-height: 80px;
                height: fit-content;
                padding: 0 0 15px 0;

                h4 {
                    display: block;
                    width: fit-content;
                    height: fit-content;
                    padding: 15px 0;
                    @include text_italic($font-weight: 400, $font-size: 1.3rem);
                    @include text_style_center();
                    @include c_white();
                }
            }

            ;

            .container_down {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                min-height: 200px;
                width: 100%;
                height: fit-content;
                padding: 5px;
                @include c_light_grey();




                .text {
                    display: block;
                    width: fit-content;
                    @include text_normal();
                    @include text_style_center();

                }

                .container_image {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    justify-items: center;
                    overflow: hidden;
                    height: 100%;
                    width: 80%;
                    max-height: 140px;
                    padding: 4px;
                    margin-bottom: 10px;
                    @include border_light_grey();
                    @include bg_none();
                    /* ou transparent selon ton design */
                }

                img {
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }






                .container_detail {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: fit-content;
                    min-height: 50px;
                    @include text_style_center();
                    @include text_normal();

                }

                .container_prix {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: fit-content;
                    min-height: 50px;
                    @include text_style_center();
                    @include text_normal();
                }

                .btn_modificate {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 50%;
                    height: fit-content;
                    min-height: 60px;

                    .btn_update,
                    .btn_delete {
                        width: 30px;
                        height: 30px;
                        border: none;
                        @include bg_none;



                    }
                }
            }
        }
    }


    // form modification card : entrée / plat / dessert



    .form_card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin-top: 25px;
        padding: 5px;
        height: fit-content;
        //@include bg_dark_grey();
        @include border_light_grey();



        .btn_close {
            position: absolute;
            right: 5px;
            top: 5px;
            justify-items: flex-end;
            width: fit-content;
            background-color: transparent;
            padding: 0;
            border: none;

            img {
                display: block;
                width: 30px;
            }

        }


        .titre,
        .detail,
        .photo,
        .prix {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            @include c_goldenrod();
            @include text_style_center();
            @include text_normal();

            input,
            textarea {
                display: block;
                box-sizing: border-box;
                width: 95%;
                height: fit-content;
                min-height: 100px;
                margin-top: 5px;
                @include text_style_left();
                @include text_normal($font-weight: 400);
                border: 2px solid black;
            }
        }

        .btn_send {
            width: 30%;
            margin: 25px 0;
            @include btn_gold($border: 1px solid #FFFFFF);
            @include text_italic($font-weight: 400);


        }
    }

}