@use '../mixin.scss' as *;


@media (max-width: 768px) {

    .footer {
        width: 100%;

        .Copyright {
            width: 100%;
            @include bg_goldenrod;
            @include text_italic($font-weight: 400);
            @include text_style_center;
            @include c_black;
        }


        .footer_container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: start;
            justify-self: center;
            width: 90%;
            height: fit-content;
            box-sizing: border-box;
            border: 1px solid #DAA520;
            border-bottom: none;


            /**********************************************************/

            .contain_info {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                margin: auto;
                width: 100%;
                height: fit-content;







                .info_adresse {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    a {
                        @include text_normal();

                    }




                    .text_info {
                        display: block;
                        text-align: center;
                        align-items: center;
                        width: 100%;

                        @include text_normal;
                        @include text_style_center;
                        @include c_goldenrod;
                    }

                    .text_link {
                        display: block;
                        text-align: center;
                        align-items: center;
                        width: fit-content;

                        @include text_normal;
                        @include text_style_center;
                        @include c_goldenrod;
                    }

                    .contact {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;

                        .text_info_none {

                            display: flex;
                            width: 100%;
                            justify-content: center;

                            .text_none {
                                display: inline-block;
                                @include text_normal();
                                @include c_goldenrod;
                                margin-right: 20px;

                            }
                        }



                    }

                    .adresse {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;


                    }
                }

                .info_social {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;


                    .text_social {
                        display: block;
                        text-align: center;
                        align-items: center;
                        width: 100%;

                        @include text_normal;
                        @include text_style_center;
                        @include c_white;
                    }



                    .social_network {
                        display: flex;
                        justify-content: space-around;
                        justify-self: center;
                        width: 40%;
                        padding: 15px 0;

                        .social_link {
                            box-sizing: border-box;
                            width: 100%;
                            max-width: 30px;

                            filter: invert(100%) sepia(100%) saturate(800%) hue-rotate(90deg);


                        }
                    }

                    .title_container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;

                        .footer_title {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 50%;

                            h3 {
                                display: inline-block;
                                width: 100%;
                                padding: 0;
                                @include text_italic($font-weight: 500, $font-size: 1.6rem);
                                @include text_style_center ($align: left);
                            }

                            h4 {
                                display: inline-block;
                                width: 100%;
                                @include text_italic($font-weight: 500, $font-size: 1.4rem);
                                @include text_style_center ($align: right);
                            }
                        }

                        .footer_logo {
                            display: flex;
                            justify-content: center;


                        }
                    }
                }
            }

            /**************************************************************/

            .contain_onglet {
                display: flex;
                justify-content: center;
                width: 100%;
                height: fit-content;
                padding: 25px 0;



                .footer_onglet-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    height: fit-content;
                    min-height: fit-content;
                    min-width: 65%;
                    max-width: 100%;
                    margin: 0 !important;
                    padding: 0;
                    list-style: none;
                    @include z_index();

                    .nav-item {
                        @include onglet_barnav($margin: 0 15px);
                        @include z_index();

                        .nav-link {
                            @include text_italic;
                            @include text_style_center;
                            @include c_white;
                            font-weight: 100;



                            @include nav_link();
                            @include z_index();


                        }


                    }
                }
            }


        }
    }
}