@use '../mixin.scss' as *;

@media (max-width: 767px) {



    .NavBarContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        z-index: 10;
        height: fit-content;
        min-height: 200px;
        @include z-index();

        .container_reservation {
            display: flex;
            width: 100%;
            height: fit-content;

            .reservation {
                @include mobile_reservation();
                @include bg_4;
                @include text_italic($font-weight: 300);
                @include text_style_center;
                @include c_white;
                @include z-index($z_index: 11);
            }
        }


    }

    .container_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 120px;
        @include z_index();




        .container_identification {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-right: 3%;
            width: 25%;
            height: 70px;
            @include z_index();

            .btn_link {
                @include btn_style($line-height: 30px);
                @include btn_border();
                @include btn_mobile();
                @include text_italic();
                @include bg_gold();
                @include c_black;
                @include z_index();
                border-radius: 0 8px 0 8px;

            }
        }



        .container_left {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 55%;




            .container-img {
                width: 25%;
                min-width: 90px;
                height: 100%;
                @include z_index();

                .navbar-brand {
                    .ImgNavBar {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        @include c_gold;
                        @include z_index();



                    }
                }

                &:focus {
                    border: none !important;
                    box-shadow: none !important;
                    outline: none !important;
                }
            }

            .container_title {

                display: flex;
                flex-direction: column;
                min-width: 160px;
                width: 100%;
                max-width: 60%;
                @include z_index();



                h1 {
                    display: inline-block;
                    width: fit-content;
                    align-self: flex-start;
                    text-align: left;
                    @include text_italic($font-weight: 500, $font-size: 1.4rem);
                    @include c_white;
                    @include title_margin;
                    @include z_index();

                }

                h2 {
                    display: inline-block;
                    width: fit-content;
                    align-self: flex-end;
                    text-align: right;
                    @include text_italic($font-weight: 300, $font-size: 1.2rem);
                    @include c_white;
                    @include title_margin;
                    @include z_index();

                }
            }
        }
    }


    .navbar {
        @include reset;


        .container-navbar {

            display: flex;
            padding: 0 !important;
            justify-content: flex-end !important;
            align-content: start !important;
            min-height: 50px;


            .navbar-toggler {
                margin-right: 1%;
                padding: 3px 7px !important;
                @include c_white;
                line-height: 0;


                &:focus {
                    outline: none;
                    /* supprime le contour par défaut */
                    box-shadow: none;
                    /* supprime l'effet ombré Bootstrap */
                    @include btn_border;
                    line-height: 0;
                    /* ou ce que tu veux */
                }

                .navbar-toggler-icon {
                    display: inline-block;
                    filter: invert(1);


                }
            }





            .onglet-container {
                position: absolute !important;
                @include bg_black();
                top: 100%;
                left: 0;
                width: 100%;
                z-index: 10;


                .onglet-list {
                    margin-top: 45px;
                    border-bottom: 1px solid black;
                    box-shadow: 1px 5px 10px grey;


                    .nav-item {
                        width: 100%;
                        height: 40px;
                        margin: 0 !important;
                        box-sizing: border-box;
                        //@include bg_goldenrod();

                        .nav-link {
                            display: inline-block;
                            padding: 0;
                            @include text_italic($font-weight: 400);
                            @include text_style_center();
                            @include bg_goldenrod();
                            @include border-bottom($border-bottom: 1px solid #000000);
                            @include nav_link($height: 100%, $width: 100%, $line-height: 40px);
                            @include c_black;
                            @include z_index();
                        }



                        .hover_nav {
                            @include hover_onglet_barnav($width: 0);
                            @include z_index();
                        }
                    }
                }
            }
        }
    }




    .vector1,
    .vector2,
    .vector3 {
        display: none;
    }

    .vector4 {
        width: 80%;
        position: absolute;
        transform: rotateY(180deg) rotate(180deg);
        bottom: 15px;
        left: -3%;
        z-index: 1;
    }

}