@use '../mixin.scss' as *;

@media (max-width: 767px) {


    .container_paragraphe {
        display: flex;
        width: 95%;
        max-width: 570px;
        height: fit-content;
        padding: 5px;
        margin: 40px auto;
        @include bg_paleGoldenrod();
        @include border_dark_grey();


        .paragraphe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 30px;
            @include bg_paleGoldenrod();
            @include border_dark_grey();


            h2 {
                display: block;
                width: 100%;
                height: fit-content();
                min-height: 50px;
                @include c_black();
                @include text_italic($font-weight: 400, $font-size: 1.6rem);
                @include text_style_center();
            }


            p {
                display: block;
                width: 100%;
                height: fit-content();
                @include c_black();
                @include text_italic($font-weight: 400);
                @include text_style_center();


            }
        }


    }




    #form_signup {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        max-width: 570px;
        height: fit-content;
        padding: 5px;
        margin: 40px auto;

        @include bg_dark_grey;
        @include border_light_grey;

        fieldset {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            @include bg_dark_grey;
            @include border_light_grey;

            .error {
                @include text_style_center();
                @include text_italic($font-weight: 500);
                @include c_red();
            }

            p {
                display: block;
                width: 100%;
                @include text_style_center();
                @include text_italic();
                @include c_white();
            }


            legend {
                padding-bottom: 30px;
                @include text_style_center();
                @include text_italic($font-size: 1.6rem, $font-weight: 400);




            }

            .signup_name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 40px;
                @include c_goldenrod();
                @include text_style_left();



            }


            .signup_email {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 40px;
                @include c_goldenrod();
                @include text_style_left();

            }

            .current-password {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 40px;
                @include c_goldenrod();
                @include text_style_left();

            }

            input {
                width: 80%;
                max-width: 334px;
            }

            small {
                width: 100%;
                @include c_3();
                @include text_style_center();
            }







            .btn_submit_reset {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 70px;


                #btn_submit {
                    width: 35%;
                    height: 30px;
                    @include btn_style();
                    @include bg_gold();
                    @include text_style_center();
                    @include text_italic($font-weight: 400);
                    @include btn_border();
                    @include c_black();

                }

                #btn_reset {
                    width: 35%;
                    height: 30px;
                    @include btn_style();
                    @include bg_gold();
                    @include text_style_center();
                    @include text_italic($font-weight: 400);
                    @include btn_border();
                    @include c_black();

                }

                .link_lost_password {
                    display: block;
                    width: 100%;
                    @include text_style_left();
                    @include text_italic();
                    @include c_3();
                }
            }

            .link_lost_password {
                display: block;
                width: 100%;
                @include text_style_left();
                @include text_italic();
                @include c_3();
            }





        }


    }








}