@use '../mixin.scss' as *;

@media (min-width: 768px) {
    .container_propos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            @include text_style_center();
            @include text_italic($font-size: 1.8rem, $font-weight: 400);
            @include c_white();
        }

        a {
            display: block;
            text-decoration: none;
            @include text_style_center();
            @include text_normal();
            @include c_3();

            &:hover {
                @include c_4();
            }
        }

        .baner_propos {
            width: 100%;
            height: 250px;
            margin-bottom: 50px;
            object-fit: cover;

            img {
                height: 100%;
            }
        }

        .intro_propos,
        .droits_propos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
            margin-bottom: 50px;
            padding: 25px;
        }

        .location_propos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            margin-bottom: 50px;
            padding: 25px;
            @include border_bottom();



            .location_text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
            }

            .location_map {
                width: 40%;

                iframe {
                    width: 100%;
                    height: 300px;
                    border: none;
                }
            }
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            @include text_style_center();
            @include text_italic();
            @include c_white();
        }
    }

}