@use '../mixin.scss' as *;

@media (min-width: 768px) {
    .container_contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .bold {
            font-weight: 600;
        }


        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding: 25px;
            @include border-bottom();

            h2 {
                display: block;
                width: 100%;
                height: 50px;
                margin-bottom: 25px;
                @include text_italic($font-size: 2rem, $font-weight: 500);
                @include text_style_center();
                @include c_white();
            }

            .center {
                display: block;
                width: 100%;
                @include text_italic();
                @include text_style_center();
                @include c_white();
            }

        }

        .adresse,
        .coordonnees {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding: 25px;
            @include border-bottom();

            h3 {
                display: block;
                width: 100%;
                height: 50px;
                margin-bottom: 25px;
                @include text_italic($font-size: 1.4rem, $font-weight: 500);
                @include text_style_center();
                @include c_white();
            }

            .center {
                display: block;
                width: 100%;
                @include text_italic();
                @include text_style_center();
                @include c_white();
            }

            .left {
                display: block;
                width: 100%;
                @include text_italic();
                @include text_style_left();
                @include c_white();
            }

            ul {
                display: block;
                width: 100%;
                @include text_italic();
                @include text_style_left();
                @include c_white();
            }
        }


        .contact_form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 70px;



            h3 {
                display: block;
                width: 100%;
                @include text_italic($font-size: 1.4rem, $font-weight: 400);
                @include text_style_center();
                @include c_white();
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 60%;
                min-width: 700px;
                height: fit-content;
                padding: 5px;
                margin: 40px auto;

                @include bg_dark_grey;
                @include border_light_grey;

                fieldset {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    @include bg_dark_grey;
                    @include border_light_grey;

                    .error {
                        @include text_style_center();
                        @include text_italic($font-weight: 500);
                        @include c_red();
                    }

                    p {
                        display: block;
                        width: 100%;
                        @include text_style_center();
                        @include text_italic();
                        @include c_white();
                    }




                    label {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: 90%;
                        min-width: 617px;
                        height: 40px;
                        @include c_goldenrod();
                        @include text_style_left();

                    }

                    #mail,
                    #nom,
                    #objet {
                        width: 90%;
                        min-width: 617px;
                        margin-bottom: 15px;
                        box-sizing: border-box;
                    }

                    textarea {
                        width: 90%;
                        min-width: 617px;
                        margin-bottom: 15px;
                        box-sizing: border-box;
                    }









                    .btn_submit_reset {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                        height: 70px;


                        #btn_submit {
                            width: 35%;
                            height: 30px;
                            @include btn_style();
                            @include bg_gold();
                            @include text_style_center();
                            @include text_italic($font-weight: 400);
                            @include btn_border();
                            @include c_black();

                            &:hover {
                                @include text_italic($font-weight: 500);
                                @include bg_goldenrod();
                                @include btn_border();
                            }
                        }

                        #btn_reset {
                            width: 35%;
                            height: 30px;
                            @include btn_style();
                            @include bg_gold();
                            @include text_style_center();
                            @include text_italic($font-weight: 400);
                            @include btn_border();
                            @include c_black();

                            &:hover {
                                @include text_italic($font-weight: 500);
                                @include bg_goldenrod();
                                @include btn_border();
                            }
                        }
                    }
                }
            }

            .error {
                @include text_style_left();
                color: red;
            }

            .success {
                @include text_style_left();
                color: green;
            }
        }

        .contact_horaire {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin-bottom: 70px;

            h3 {
                display: block;
                width: 100%;
                height: 50px;
                margin-bottom: 25px;
                @include text_italic($font-size: 1.4rem, $font-weight: 500);
                @include text_style_center();
                @include c_white();

            }

            .box_container {

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;

                .horaire {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 80%;

                    .horaire_top,
                    .horaire_bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 90%;

                        .red {
                            display: block;
                            width: 100%;
                            color: red;
                            @include text_italic();
                            @include text_style_left();
                        }

                        ul {
                            display: block;
                            width: 100%;
                            @include text_italic();
                            @include text_style_left();
                            @include c_white();
                        }

                        .left {
                            display: block;
                            width: 100%;
                            @include text_italic();
                            @include text_style_left();
                            @include c_white();
                        }
                    }
                }

                .logo {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 20%;

                    img {
                        width: 100%;
                    }
                }

            }



        }

        .small {
            display: flex;
            justify-content: center;
            width: 60%;
            margin-bottom: 70px;


            small {
                width: 100%;
                @include c_3();
                @include text_style_center();
                @include text_italic($font-size: 0.8rem);
            }
        }

    }
}