@use '../mixin.scss' as *;

@media (min-width: 768px) {

    .container_menu {

        display: flex;
        justify-self: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 40%;
        min-width: 640px;
        padding: 5px;
        margin: 30px 0 !important;
        @include border_light_grey($radius: 0 50px 0 50px);



        .container_content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0;
            height: fit-content;
            @include bg_dark_grey();
            opacity: 0.9;
            @include border_light_grey($radius: 0 50px 0 50px);




            .flower {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 25%;
                height: auto;
                z-index: 1;
            }

            .arabesque {
                position: absolute;
                width: 80%;
                top: 5px;
                z-index: 1;
            }


            h3 {
                display: block;
                justify-self: center;
                width: 60%;
                margin-top: 70px;
                padding: 25px 0;
                border-top: none;
                @include z-index();
                @include text_italic($font-weight: 400, $font-size: 2rem);
                @include text_style_center();
                @include c_white();
            }


            .menu_top {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 40px;


                h4 {
                    display: block;
                    width: fit-content;
                    @include z-index();
                    @include text_italic($font-weight: 400, $font-size: 1.4rem);
                    @include text_style_center();
                    @include c_white();
                }

            }

            .menu_down {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: fit-content;
                padding: 30px 0 20px 0;
                @include c_light_grey();

                .border {
                    width: 15%;
                    height: 2px;
                    margin: 15px 0;
                    @include bg_white();
                }

                .text {
                    display: block;
                    width: 100%;
                    @include z-index();
                    @include text_normal();
                    @include text_style_center();

                }


                .menu_image {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    overflow: hidden;
                    width: 200px;
                    height: 200px;
                    padding: 4px;
                    @include btn_border();
                    @include bg_black();
                }

                img {
                    display: block;
                    object-fit: cover;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;

                }

                .menu_detail {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    width: 60%;
                    height: 100%;
                    min-height: 55px;

                }

                .menu_prix {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding-top: 25px;
                }

                .btn_modificate {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 30%;
                    height: 70px;
                    @include bg_none();


                    .btn_update,
                    .btn_delete {
                        width: 50px;
                        height: 50px;
                        border: none;
                        cursor: pointer;
                        @include bg_none();

                        &:hover {

                            transform: rotate(30deg);
                            transition: transform 0.3s ease;

                        }
                    }
                }
            }



        }

    }




    // Form menu du jour

    .container_form {
        display: flex;
        justify-content: center;
        justify-self: center;
        align-items: center;
        width: 40%;
        min-width: 640px;
        padding: 5px;
        background-color: transparent;
        @include border_light_grey;

        .form_menu_du_jour {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 5px;
            height: fit-content;
            //@include bg_dark_grey();
            @include border_light_grey();
            @include text_style_center();
            @include text_normal();


            h3 {
                display: block;
                justify-self: center;
                width: 60%;
                padding: 15px 0;
                border-top: none;
                @include text_italic($font-weight: 400, $font-size: 1.6rem);
                @include text_style_center();
            }

            .btn_close {
                position: absolute;
                right: 15px;
                top: 15px;
                justify-items: flex-end;
                width: fit-content;
                background-color: transparent;
                padding: 0;
                border: none;

                img {
                    display: block;
                    width: 30px;
                }

                &:hover {
                    img {
                        transform: rotate(10deg);
                        transition: transform 0.2s ease;
                    }
                }
            }

            .titre,
            .entree,
            .plat,
            .dessert,
            .boisson,
            .prix {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                box-sizing: border-box;
                width: 100%;
                padding: 5px;
                @include c_goldenrod();
                @include text_normal();

                input,
                textarea {
                    display: block;
                    box-sizing: border-box;
                    width: 60%;
                    min-width: 484px;
                    height: fit-content;
                    margin-top: 5px;
                    @include text_style_left();
                    @include text_normal($font-weight: 400);
                    border: 2px solid black;
                }
            }

            .btn_send {
                width: 30%;
                margin: 25px 0;
                @include btn_gold($border: 1px solid #FFFFFF);
                @include text_italic($font-weight: 400);

                &:hover {
                    @include btn_gold($background-color: #DAA520, $border: 1px solid #FFFFFF);
                    @include text_italic($font-weight: 600);
                }
            }
        }

    }

}