@use '../mixin.scss' as *;

@media (min-width: 768px) {

    .container_new {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 0 60px 0;

        h2 {
            display: block;
            width: 100%;
            height: fit-content();
            min-height: 50px;
            @include c_white();
            @include text_italic($font-weight: 400, $font-size: 1.6rem);
            @include text_style_center();
        }

        #form_new_password {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            min-width: 451px;
            padding: 5px;
            @include border_light_grey;

            fieldset {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 15px;
                @include border_light_grey;

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    height: 50px;
                    @include text_normal($font-weight: 400);
                    @include text_style_center();
                    @include c_goldenrod();
                }

                input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80%;

                }

                small {
                    width: 70%;
                    height: 60px;
                    padding: 15px 0;
                    @include c_3();
                    @include text_normal($font-size: 1rem);
                    @include text_style_center($line-height: 1.2rem);
                }

                .btn_submit_reset {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    height: 100px;


                    #btn_submit {
                        width: 40%;
                        height: 30px;
                        @include btn_style();
                        @include bg_gold();
                        @include text_style_center();
                        @include text_italic($font-weight: 400);
                        @include btn_border();
                        @include c_black();

                        &:hover {
                            @include text_italic($font-weight: 500);
                            @include bg_goldenrod();
                            @include btn_border();
                        }
                    }

                    #btn_reset {
                        width: 40%;
                        height: 30px;
                        @include btn_style();
                        @include bg_gold();
                        @include text_style_center();
                        @include text_italic($font-weight: 400);
                        @include btn_border();
                        @include c_black();


                        &:hover {
                            @include text_italic($font-weight: 500);
                            @include bg_goldenrod();
                            @include btn_border();

                        }
                    }

                }
            }
        }
    }
}