@use './mixin.scss' as *;

body {

    @include bg_black();
    @include c_white();
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.main {
    min-height: 800px;
    height: fit-content;
    width: 100%;

    background-image: url('../assets/image/img_backGround.svg');
    background-repeat: repeat;
}