@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}




@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf') format('opentype');
    font-weight: 600;
    font-style: italic;
}